
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
 


  <label>
    Email:
    <input type="username" formControlName="username" />
  </label>
  <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched">
    Enter a valid email.
  </div>

  <br />

  <label>
    Password:
    <input type="password" formControlName="password" />
  </label>
  <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched">
    Password must be at least 6 characters.
  </div>

  <br />

  <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>
</form>
